@import "variables";
// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";
// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
//components
@import "bootstrap/input-groups";
@import "bootstrap/list-group";
@import "bootstrap/navs";
@import "bootstrap/panels";

.page-header {
  h1 {
    margin-top: 0;
  }
}

#magnet-form {
  .input-group-addon,
  .form-control {
    font-size: 12px;
  }

  .form-control {
    height: 30px;
  }
  .input-group {
    margin-bottom: 2px;
  }

  .clear-input {
    cursor: pointer;
    &:hover {
      color: $brand-info;
    }
  }
}
.season-links {
  a {
    cursor: pointer;
  }

  .label {
    position: relative;
    display: block;
    padding: $nav-link-padding;
  }

  margin-bottom: 30px;
}

.show {

  .show-sidebar {

    text-align: center;

    .rating {

      .score {
        font-size: 24px;
        font-weight: bold;
      }
      .stars {
        font-size: 14px;
      }

      &.good .stars {
        color: $brand-success;
      }
      &.bad .stars {
        color: $brand-danger;
      }
      &.medium .stars {
        color: $brand-warning;
      }
    }

    .external-links {
      a .fa {
        font-size: 50px;
      }
    }

    .tab-links {
      margin-top: 10px;
      margin-bottom: 10px;

      li a {
        border: 1px solid $nav-pills-active-link-hover-bg;

        .title {
          display: block;
        }
        .icon {
          display: none;
        }

        @media(min-width: $screen-md-min),
        (max-width: $screen-xs-min) {
          .title {
            display: none;
          }
          .icon {
            display: block;
          }
        }
      }
    }

    .summary {
      margin: 10px 0;
      max-height: 300px;
      overflow-y: auto;
    }
    img {
      max-width: 100%;
    }
  }

  .episode-list {
    .episode {
      padding: 20px 0 10px 0;

      h4 {
        margin-top: 0;

        &.episode-name {
          button {
            float: right;
            margin-top: -6px;
          }
        }
      }

      .episode-number {
        text-align: right;
      }

      .episode-airdate {
        text-align: right;
      }

      &:first-child {
        border-top: 1px solid #999;
      }
      border-bottom: 1px solid #999;
    }
  }
}

.previous-shows {
  margin-top: 40px;
}

form {
  .ng-invalid {
    background-color: #f00;
  }
}
