$screen-lg-min: 1500px;
$container-large-desktop: 1450px;

$body-bg: #eee;

$page-header-border-color: #999;

$font-family-sans-serif: 'Oswald', sans-serif;
$font-size-base: 16px;
$headings-font-weight: 700;

$panel-default-border: #999;