<div ng-if="!showFound">
    Show not found!
</div>
<div ng-if="showFound" class="row show">
    <div class="col-md-4 show-sidebar">
        <div class="row">
            <div class="col-md-12">
                <h2 class="show-name">{{show.name}}</h2>
            </div>
            <div class="col-md-12">
                <ul class="nav nav-pills tab-links">
                    <li role="presentation"
                        ng-repeat="tab in tabs"
                        ng-class="{ active: tab === currentTab }">
                        <a href ng-click="changeTab(tab)">
                            <span class="icon fa fa-{{tab.icon}}"></span>
                            <span class="title">{{tab.title}}</span>
                        </a>
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="details"
                             ng-if="currentTab.tab == 'details'">
                            <div class="network">{{show.network.name || show.webChannel.name}}</div>
                            <div class="days">{{show.schedule.days.join(', ')}}</div>
                            <div class="time">{{show.schedule.time}}</div>
                            <div class="rating {{show.rating.level}}" ng-if="show.rating.average">
                                <div class="score">
                                    {{show.rating.average}} / 10
                                </div>
                                <stars rating="show.rating.average"></stars>
                            </div>
                        </div>
                        <img ng-src="{{show.image.medium}}"
                             ng-if="currentTab.tab == 'image'"/>
                        <div class="summary"
                             ng-if="currentTab.tab == 'summary'"
                             ng-bind-html="show.summary"></div>
                        <div class="external-links"
                             ng-if="currentTab.tab == 'links'">
                            <a href="{{link.url}}"
                               target="_blank"
                               ng-repeat="link in show.links">
                                <span class="fa fa-{{link.icon}}"></span>
                                {{link.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-9">
                <ul class="nav nav-pills season-links">
                    <li><span class="label">Season</span></li>
                    <li ng-repeat="season in seasons" ng-class="{active: season == currentSeason}"><a
                            ng-click="changeSeason(season)">{{season.number}}</a></li>
                </ul>
            </div>
            <div class="col-xs-3 text-right">
                <button ng-click="show.showDetails = true" ng-class="{ btn: true, 'btn-primary': show.showDetails }">
                    <span class="fa fa-list"></span>
                </button>
                <button ng-click="show.showDetails = false" ng-class="{ btn: true, 'btn-primary': !show.showDetails }">
                    <span class="fa fa-align-justify"></span>
                </button>
            </div>
        </div>
        <div class="episode-list">
            <episode-summary ng-repeat="episode in currentSeason.episodes"
                             episode="episode"
                             show="show"></episode-summary>
        </div>
    </div>
</div>
